{% extends 'layouls/index.html' %}

{% block content %}
    <div>
        <form action="/products/" method="get">
            Search <input type="text" name="search" value="">
            <input type="submit" value="search" class="btn btn-primary">

        </form>
    </div>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Rate: {{ product.rate }}</h6>
                    <a href="/products/{{ product.id }}" class="card-link">More</a>
                </div>
            </div>
    </div>
        {% endfor %}
    <div>
        {% for page in max_page %}
            <a href="/posts/?page={{ page }} {% if hastag_id %}&hashtag_id={{ hastag_id }}{% endif %}{% if search_text %}&search={{ search_text }}{% endif %}">
                <button style="width: 25px; height: 25px">{{ page }}</button>
            </a>
        {% endfor %}


    </div>
{% endblock %}